@tailwind base;
@tailwind components;
@tailwind utilities;



button.slick-next::before{
    font-size: 1.5rem;
    content: '\276F';
    top: -1rem;
    position: absolute;
    right: 3rem;

    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: red;
    padding-top: .3rem;
}

button.slick-prev, button.slick-next{
    z-index: 1;
}
button.slick-prev::before{
    font-size: 1.5rem;
    content: '\276E';
    top: -1rem;
    position: absolute;
    left: 3rem;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: red;
    padding-top: .3rem;
 
}

